body {
    background-color:rgba(246, 237, 241, 0.638);
    }

footer{ 
    background-color:  rgba(18, 18, 18, 0.823);
    color:rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center; 
    font-size: 0.9rem;
}